:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primaryColor: black;
  --secondaryColor: white;
  --thirdColor: #0073E6;
  --fourthColor: #EF0107;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondaryColor);
  background-color: var(--primaryColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 500;
  color: var(--secondaryColor);
  text-decoration: inherit;
}
a:hover {
  color: #005564;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.app-container
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.grid-container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
  flex-grow: 1; 
}

footer
{
  flex-direction: row;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
  box-sizing: border-box;
  justify-content: flex-start; 
}



nav {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  flex-grow: 2;
  flex-basis: auto;
}

footer {
  border-top: 1px solid var(--thirdColor);
  text-align: center;
  padding-top: 1rem;
  margin-top: 3rem;
  font-size: 0.8rem;
}

