:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primaryColor: black;
  --secondaryColor: white;
  --thirdColor: #0073E6;
  --fourthColor: #EF0107;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondaryColor);
  background-color: var(--primaryColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 500;
  color: var(--secondaryColor);
  text-decoration: inherit;
}
a:hover {
  color: #005564;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.app-container
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.grid-container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
  flex-grow: 1; 
}

footer
{
  flex-direction: row;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* this craetes a column of three idk how but it works*/
  align-items: center;
  width: 100%; 
  max-width: 1200px; 
  box-sizing: border-box;
}

.title {
  grid-column: 1; 
}

nav {
  grid-column: 2; 
  display: flex;
  gap: 1.2rem;
}

.searchBar
{
  display: flex;
  justify-content: flex-end;
  grid-column: 3;
}


footer {
  border-top: 1px solid var(--thirdColor);
  text-align: center;
  padding-top: 1rem;
  margin-top: 3rem;
  font-size: 0.8rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none; 
  background: transparent;
  width: 100%;
  color: var(--secondaryColor);
  border: none;
  outline: none;
  font-size: 1rem;
}

.select-wrapper {
  position: relative;
}

.select-wrapper select {
  width: 100%;
  padding-right: 2em; 
}

.select-wrapper::after {
  content: '▼'; 
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--secondaryColor); 
}


